<h1><%= @professor_login ? "Professor" : "Student" %> Login</h1>

<%= form_tag '/login' do %>
  <%= hidden_field_tag :professor_login, @professor_login %>

  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, @email ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>

  <%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>
<br>
<div class="row">
  <% if @professor_login %>
    <%= link_to "Sign up", new_professor_path %>
     | <%= link_to "Student login", login_path %>
  <% else %>
    <%= link_to "Sign up", new_student_path %>
     | <%= link_to "Professor login", login_professors_path %>
  <% end %>
</div>
