<div class="row">
  <h1>Student</h1>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @student.email %>
  </p>
</div>

<% if professor_or_current_student? %>
  <div class="row">
    <%= link_to 'Edit', edit_student_path(@student) %>
    | <%= link_to 'Delete account', @student, method: :delete,
            data: { confirm: "This will delete your account, and remove you from projects. Are you sure?" }  %>
  </div>
<% end %>
