<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= @project.title %>
  </div>
  <div class="card-block">
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <p>
      <strong>Available at:</strong>
      <%= @project.publish_at %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
