<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFrenzy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-md-3 offset-md-9" style="text-align: right">
        <% if current_user = current_student || current_professor %>
          <span><%= link_to current_user.name, current_user_profile_path %> | <%= link_to "Logout", '/logout' %></span>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', new_student_path %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
